<!-- A view to create a new topic -->
<div class="form-horizontal">

    <%= form_for(@topic) do |f| %>

    <p>
      <%= f.label :Timeline %>
      <%= f.text_field :timeline %>
    </p>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

<!-- complete or not complete -->
    <div class="form-group">
      <%= f.label :lab%>
      <%= f.text_field :lab %>
    </div>

    <div class="form-group">
      <%= f.label :Study_Group%>
      <%= f.text_field :study_group %>
    </div>

    <%= f.submit %>

    <% end %>

</div>
