<!-- A view to display an index of all topics -->

<h1 class="text-center" style="color: rgb(0,179,230)">Tracking Topics</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Timeline</strong></td>
      <td><strong>Title</strong></td>
      <td><strong>Subject</strong></td>
      <td><strong>Lab</strong></td>
      <td><strong>Comment</strong></td>
    </tr>

    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.timeline %></td>
      <td><%= topic.title %></td>
      <td><%= topic.subject %></td>
      <td><%= topic.labs %></td>
      <td><%= topic.comment %></td>

      <td><%= link_to topic_path, class: 'btn btn-info' do %>
        <i class="glyphicon glyphicon-file"></i> Show
      <% end %></td>

      <td><%= link_to topic_path, class: 'btn btn-warning' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %></td>

      <td><%= link_to topic_path, class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %></td>

    </tr>
  <% end %>

  </tbody>
</table>
