<!-- A view to display an index of all topics -->

<% provide(:title, 'Study Progress') %>

  <h1>Study Progress</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><h4>Timeline</h4></td>
      <td><h4>Title</h4></td>
      <td><h4>Lab</h4></td>
      <td><h4>Study Group</h4></td>
    </tr>

    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.timeline %></td>

      <td><%= link_to topic.title%></td>

      <td><%= topic.lab%></td>

      <td><%= topic.study_group %></td>

      <td><%= link_to topic_path(topic), class: 'btn btn-info' do %>
        <i class="glyphicon glyphicon-file"></i> Show
      <% end %></td>

      <td><%= link_to edit_topic_path(topic), class: 'btn btn-warning' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %></td>

      <td><%= link_to topic_path(topic), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %></td>

    </tr>

  <% end %>
  </tbody>

</table>

<div>
  <%= link_to 'Add New Topic', new_topic_subject_path(@subject)%><br>
  <%= link_to 'Show Topics with 2 or more Subjects', two_or_more_path%>
</div>
