<!-- A view to display a single Topic -->
<% provide(:title, 'Topic Created') %>

  <h2>Topic Created</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<p>
  <strong>Timeline:</strong>
  <%= @topic.timeline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @topic.lab%>
</p>

<p>
  <strong>Study Group:</strong>
  <%= @topic.study_group %>
</p>

<%= link_to topics_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-step-backward"></i> Back
<% end %>

<%= link_to edit_topic_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit
<% end %>

 </div>
</div>
