<!-- A view to display a single Topic -->
<div class="container text-center">
   <h2 class="text-center" style="color: rgb(0,179,230)"> Topic Created </h2>

<p>
  <strong>Timeline:</strong>
  <%= @topic.timeline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @topic.lab%>
</p>

<p>
  <strong>Comment:</strong>
  <%= @topic.comment %>
</p>

<%= link_to topics_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-step-backward"></i> Back
<% end %>

<%= link_to edit_topic_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit
<% end %>

</div>
