<!-- A view to display a single Topic -->
<div class="container text-center">
   <h2 class="text-center" style="color: rgb(0,179,230)"> Topic Created</h2>

<p>
  <strong>Timeline:</strong>
  <%= @topic.timeline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @topic.note %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

</div>
