<!-- A view to display a single Topic -->
<h1>Topic Created</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<p>
  <strong>Timeline:</strong>
  <%= @topic.timeline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @topic.lab%>
</p>

<p>
  <strong>Study Group:</strong>
  <%= @topic.study_group %>
</p>

<p>
<strong>Subjects:</strong>
  <% @topic.subjects.each do |subject| %>
    <ul>
     <li><%= subject.name %></li>
    </ul>
<% end %>
</p>
 <!-- has_many-->
  <%= link_to new_topic_subject_path(@topic), class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Add New Subject
  <% end %>

<%= link_to topics_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-step-backward"></i> Back to All Topics
<% end %>

<%= link_to edit_topic_path, class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit Topic
<%end %>

 </div>
</div>
