<!-- A view to display a single Topic -->

<p>
  <strong>Timeline:</strong>
  <%= @topic.timeline%>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @topic.note %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
