<!DOCTYPE html>
<html>
  <head>
    <title>FlatironSchoolTrackerRailsApp</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">

    <ul class="nav navbar-nav navbar-right">
      <li><h2><%= current_user.email%></h2></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Topics" %></li>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    </ul>
  </div>
</header

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

    <%= yield %>

  </body>
</html>
